<div class="container d-flex bg-light">
  <ng-container>
    <div class="container ">
      <div class="btn btn-primary m-2 p-2 pr-5"
           (click)="onClickStart()"
      >Start</div>
      <div class="btn btn-danger m-2 p-2 pr-5"
           (click)="onClickStop()"
      >Stop</div>
      <div class="btn btn-dark m-2 p-2 pr-5"
           (click)="onClickReset()"
      >Reset</div>
      <hr>
      <div  class="d-flex row">
        <app-numbers *ngFor="let numberFromArray of arrayNumber"
                     [number]="numberFromArray"
        ></app-numbers>
      </div>
    </div>
  </ng-container>
<div style="width: 500px">
    <input type="text" [(ngModel)]="inputNumber" value="{{inputNumber}}">
    <br>
    <input type="radio" id="red" value="red" name="radioInput"
          class="m-2 " (click)="onChange()" [(ngModel)]="radioInput" >
    <label for="red">Red</label>
    <input type="radio" id="black" value="black" name="radioInput"
           class="m-2" (click)="onChange()" [(ngModel)]="radioInput" >
    <label for="black">Black</label>
   <input type="radio" id="zero" value="zero" name="radioInput"
          class="m-2" (click)="onChange()" [(ngModel)]="radioInput" >
    <label for="zero">Zero</label>
    <br>
    <h6>Balance: {{ rouletteService.balance }}</h6>
</div>
</div>
