.number{
  width: 50px;
  color: white;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.black{
  background: black;
}
.red{
  background: red;
}
.zero{
  background: green;
}
.unknown{
  background: white;
}
